#1 Write a program to accept percentage from the user and display the grade according to the following criteria:

In [9]:
percentage = float(input("Enter the percentage: "))

if percentage > 90:
    print("Grade: A")
elif percentage > 80 and percentage<=90:
    print("Grade: B")
elif percentage >= 60 and percentage<=80:
    print("Grade: C")
elif percentage < 60:
    print("Grade: D")

Enter the percentage: 1
Grade: D

#2.  Write a program to accept the cost price of a bike and display the road tax to be paid according to the following criteria:

In [13]:
cost_price = float(input("Enter the cost price of the bike: "))

if cost_price <= 50000:
    road_tax = cost_price * 0.05
elif cost_price >50000 and cost_price<= 100000:
    road_tax = cost_price * 0.1
elif cost_price >100000:
    road_tax = cost_price * 0.15

print("Road tax to be paid: Rs.", road_tax)

Enter the cost price of the bike: 50000
Road tax to be paid: Rs. 2500.0

#3. Accept any city from the user and display monuments of that city.

In [18]:
city = input("Enter a city: ")

monuments = {}

if city == "Delhi":
    monuments = {"Red Fort"}
elif city == "Agra":
    monuments = {"Taj Mahal"}
elif city == "Jaipur":
    monuments = { "Jal Mahal"}

if monuments:
    print(f"The following monuments are in {city}:")
    for monument in monuments:
        print("   ----->    " + monument)
else:
    print(f"Sorry, we do not have a list of monuments for {city}.")

Enter a city: Delhi
The following monuments are in Delhi:
   ----->    Red Fort

#4. Check how many times a given number can be divided by 3 before it is less than or equal to 10.

In [77]:
num = int(input("Enter a number: "))

count = 0

while num > 10:
    num /= 3
    count += 1
    
print(f"The number can be divided by 3 {count} times before it is less than or equal to 10.")

Enter a number: 150
The number can be divided by 3 3 times before it is less than or equal to 10.

#5. Why and When to Use while Loop in Python give a detailed description with example

###The while loop is a fundamental control flow statement in Python that allows a block of code to be executed repeatedly as long as a particular condition is true. A while loop is useful when you don't know how many times a block of code should be executed before the loop starts, and you want to keep executing it until a certain condition is met.

###Here's an example to demonstrate how to use a while loop in Python:

In [79]:
num = 0
sum = 0

while num <= 10:
    sum += num
    num += 1

print("The sum of the first 10 numbers is:", sum)

The sum of the first 10 numbers is: 55

#6. Use nested while loop to print 3 different pattern.

In [83]:
## Pattern 1
i = 1
while i <= 5:
    j = 1
    while j <= i:
        print("* ", end="")
        j += 1
    print()
    i += 1

*
* *
* * *
* * * *
* * * * *

In [84]:
# Pattern 2
i = 5
while i >= 1:
    j = 1
    while j <= i:
        print("*", end="")
        j += 1
    print()
    i -= 1

*****
****
***
**
*

In [86]:
# Pattern 3

i = 1
while i <= 4:
    j = 1
    while j <= 5:
        print("*", end="")
        j += 1
    print()
    i += 1

*****
*****
*****
*****

#7. Reverse a while loop to display numbers from 10 to 1.

In [87]:
i = 10
while i >= 1:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1